body {
    background: #ECEEF1;
}

.flex_div {
    display: flex;
    flex-direction: column;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.main_div {
    background: #FFFFFF;
    width: 100%;
}

.main_div h1 {
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
}

.card_div {
    width: 80%;
}

.card_div h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}

.password {
    font-size: 14px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    padding: 8px 40px;
    cursor: pointer;
    border-radius: 5px;
    background: #54BBFB;
    border: none;
    outline: none;
    color: white;
}

.text {
    width: 60%;
    text-align: center;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}